<% if sidebar_content? %>
    <div id="sidebarHandler">
        <div id="hideSidebarButton" onclick="toggleSideBar()"></div>
    </div>
    <script>    
        $(function() {
            prepareHideSideBar();
        });
    </script>
<% end %>
