<% if sidebar_content? %>
    <div id="sidebarHandler">
        <div id="hideSidebarButton" onclick="hideSideBar()"></div>
    </div>
    <script>
        $(function() {
            prepareHideSideBar();
        });
    </script>
<% end %>
