#main-menu .menu-children, .ui-widget-content {
  z-index: 15;
}

#hideSidebarButton {
  position: fixed;
  width: 7px;
  height: 23px;
  background-image: url("../images/buttons.png");
  background-position: 0 0;
}

#hideSidebarButton:hover {
  cursor: pointer;
}

#hideSidebarButton.sidebar_hidden {
  background-position: -7px 0;
}

@media screen and (min-width: 0px) and (max-width: 899px) {#hideSidebarButton{display: none;}}
@media screen and (min-width: 900px) {#hideSidebarButton{display: inherit;}}

#sidebarHandler {
  position: absolute;
  top: 50px;
  margin-top: 50px;
  z-index: 11;
}

#content {
  position: relative;
  z-index:0;
}

#sidebar {
  z-index:12;
  will-change: max-width;
  transition: max-width .5s;
  overflow-x: hidden;
  padding-left: 20px;
  padding-right: 0px;
}

#sidebar.sidebar_hidden {
  overflow-x: hidden;
  max-width: 0px !important;
  padding-right: 0px !important;
}

#sidebar.sidebar_hidden ul.queries > li > a.icon-only {
  display: none;
}

body #content.sidebar_hidden {
  margin-right: 0;
}

#sidebar > form > :nth-child(n)
{
  min-width: 210px;
}

#sidebar > form > h3, #sidebar > form:first-child > h3, #sidebar > h3:first-child
{
  min-width: 210px;
  padding: 10px 20px 0px 0px;
}

#sidebar ul:not(.watchers) li > a:not(.icon-only)
{
  padding-right: 20px;
  padding-left: 3px;
}

#sidebar ul:not(.watchers) li > a:not(.icon-only).selected
{
  max-width: 87%;
}

#admin-menu li > a::before
{
  padding-left: 20px;
}

#admin-menu ul:not(.watchers) li > a:not(.icon-only)
{
  padding-left: 20px;
}


/***** Media print specific styles *****/
@media print {
  #sidebarHandler {
    display: none;
  }

  #sidebar {
    display: none;
  }

  body #content {
    width: auto;
    margin-right: 0;
  }
}

